#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width:  100vw;
}

#pop-up{
  text-align: center;
}

#stats {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

#stats img{
  width: 20px;
  height: 20px;
}